@import "stylesheets/variables.css";
@import "stylesheets/normalize.css";
@import "stylesheets/index.css";
@import "stylesheets/fonts.css";

@import "stylesheets/elements/animations.css";
@import "stylesheets/elements/control-button.css";
@import "stylesheets/elements/classes.css";
@import "stylesheets/elements/inputs.css";

.container {
    all:             unset;
    box-sizing:      border-box;
    margin:          0;
    padding:         0;
    color:           inherit;
    text-decoration: none;
}
